.header-links{
    display: flex;
}
.header-links a{
    margin: 2em;
    color: #FFFFFF;
    font-size:25px;
    text-decoration: none;
}
.header-links a:first-child{
    font-weight: 700;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title h1{
    text-decoration: underline;
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 700;
    margin: 40px;
}