.image-home{
    width: 365px;
    height: 472px;
    margin-left: 140px;
}
.image-forms{
    margin: 2px 2px 2px 50px;
    width: 232px;
    height: 300px;
}
.image-card{
    width: 56px;
    height: auto;
}